<form method="post" action="/events">
	<div>
		<label> Author:</label>
		    <input type="text" name="author" value="<%= @message && @message.author %>">
	</div>
	<div>
		<label>Title:</label>
		    <input type="text" name="title" value="<%= @message && @message.title %>">
	</div>
	<div>
		<label>Content:</label>
		    <input type="text" name="content"  value="<%= @message && @message.content %>"> 
		    <!-- name = the name of the params in action -->
	</div>
	<div>
		<input type="submit" value="Submit">
	</div>
</form>
