<% flash.keys.each do |flash_key| %>
<div class="alert alert-<%= flash_key %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= flash_key %></strong> <%= flash[flash_key] %>
</div>
<% end %>