<video loop muted autoplay poster="images/vidd.jpg" class="background-video">
                    <source src="images/vidd.mp4" type="video/mp4">
                    
                </video>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
            
                <div class="row">

                    <div class="col-md-8 col-md-offset-2 ">
                        <h1 class="brand-heading">Netflix & Chili</h1>
                        <p class="intro-text">TV and food - with friends you didn't know you had.<br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </header>
    
    
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            
               <strong> <h1>How it works </h1> </strong>
                <br>
                <br>
               <br>
               <br>
               <div class="col-md-4">
                 
                <i class="fa fa-film fa-3x" aria-hidden="true"></i>
                <br>
                <br>
                <br>
                <br>
                <h3> The host, the menu</h3>
                <p>  With a variety of unique food options and movie to match reginite your love for both</p>
                </div>
                <div class="col-md-4">
                <i class="fa fa-ticket fa-3x" aria-hidden="true"></i>
                <br>
                <br>
                <br>
                <br>
                <h3>Book a seat</h3>
                <p> From our culinary masters to movie enthusiasts come join our table today </p>
                </div>
                <div class="col-md-4">
                <i class="fa fa-glass fa-3x" aria-hidden="true"></i>
                <br>
                <br>
                <br>
                <br>
                <h3>Enjoy your experience</h3>
                <p> Our delightful events are a great way to meet new friends while enjoying a themed filled evening with exceptional food </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>View events in your area</h2>
                    <p> Imagine the season finale of Game of Thrones or the Euro 2016 final with new friends, great food and a location themed to match. </p>
                    <a href="/events" class="btn btn-default btn-lg">View Netflix & Chilli events</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Follow us</h2>
                <p>Feel free to reach out to us, we only reply during commercial breaks though!</p>
                
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p class= "chili"> Netflix and Chili - Made with <span class = "heart"> ♥ </span> in Vancouver
            <br>
            <br>
           <span style = "font-size: 12px;"> We do not own the rights to Netflix&copy; and any images </span>
            </p>
        </div>
    </footer>

