<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

<!-- consistent nav bar on top -->

    <nav>
      <h1> 
      <a href = "/"> Netflix and Chili? </a>
      </h1>
      <ul>
        <li>
          <a href = "#"> something else here </a>  <!-- add more -->
        </li>
        <li>
          <% if current_user %>
            <h6> Welcome, <%= current_user.name %></h6>   <!-- change email to name -->
            <a href="/logout">Logout</a>
          <% else %>
            <a href = "/login"> Login </a>
          <% end %>
        </li>
      </ul>
     </nav> 
    


<!-- page content -->

  <%= yield %>
</body>
</html>

