<br>
<br>
<br>
<br>

	<form method="POST" action="/login">

  	<label for="email">Email:</label>
  	<input name="email" type="email" placeholder="Email address"/>

	  <label for="password_hash"> Password:</label>
	  <input name="password_hash" type="password" placeholder="Password" />

	 <input value="Login" type="submit" />


	 <a href="/signup">Don't have an account sign up now!</a>

	</form>

