<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
  <div>
    <h1 id="signupheader">New User Sign Up</h1>

    <form method="POST" action="/signup">
      
      <div>
        
        <input type="text" name="name" placeholder="New Username">
      </div>


      <div class="form-group">
       
        <input type="text" name="email" placeholder="Email">
      </div>

      <div class="form-group">
       
        <input type="password" name="password_hash" placeholder="Password">
      </div>

      <button id="signup" type="submit">Register</button>
    </form>
    <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
  </ul>
  </div>
</div>