<br>
<br>
<br>
<br>
<div>
  <div>
    

    <form method="POST" action="/signup">
      
      <div>
        <label>Username</label>
        <input type="text" name="name" placeholder="username">
      </div>


      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email"
        placeholder="email">
      </div>

      <div class="form-group">
        <label for="password_hash">Password</label>
        <input type="password" name="password_hash" placeholder="********">
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</div>